body{
   text-align: center;
}
#btn{
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 4px;
    color:deeppink;
    background-color: azure;
    border-color: deeppink;
    padding: 5px 10px;
    transition: background-color 0.5s;
}
#btn:hover{
    color:azure;
    background-color: deeppink;
    border-color:azure;
}
#label_cont{
    display: block;
    font-weight: bold;
    font-size: 4em;
    padding: 20px;
}