body{
    text-align: center;
    font-weight: bold;
    color: brown;
}
.container
{
    display:block;
}
.container_pizza img
{
    height: 150px;
    width:200px;
}
.container_ma9loub img
{
    padding-top: 10px;
    height: 150px;
    width:200px;
}
#sub{
    margin-top: 10px;
    padding: 5px 20px;
    background-color: brown;
    color: beige;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s;
}
#sub:hover{
    background-color: beige;
    color: brown;
}